.main__about {
    &-teamImages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 100px 100px;
        // padding: 100px 0px;

        @media (max-width: 500px) {
            margin-top: 50px;
        }

        @media (max-width: 900px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @media (max-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &-org {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60%;
        background-color: $header-bg1;
        padding: 100px 100px;

        & p {
            color: white;
        }

        & h2 {
            color: white;
        }
    }
    &-info {
        display: flex;
        flex: 0 25%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
    }

    &-image {
        width: 200px;
        height: 200px;

        @media (max-width: 1200px) {
            margin-top: 100px;
        }
    }

    &-description {
        text-align: center;
        width: 300px;

        @media (max-width: 900px) {
            width: 70%;
        }
    }

    &-name {
        margin: 20px 0 50px 0;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.about__intro {
    &-headline {
        text-align: center;
    }
    &-text {
        text-align: center;
        margin: 0;
    }
    &-wave {
        width: 128px;
        margin: 50px 0;
    }
}

.popular__events {
    &-headline {
        text-align: center;
        padding: 0 100px;
        margin-bottom: 50px;
    }
    &-text {
        text-align: center;
        padding-bottom: 100px;
        padding: 0 100px 100px 100px;
        margin: 0;
    }
}
