html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.description-cont{
    display: flex;
    flex-direction: row;
}

.descript{
    padding-right: 150px;
}

.description-text{
    align-self: center;
}

.error-message{
    font-weight: 700;
    color: red;
    font-size: small;
}
.success-message{
    font-weight: 700;
    color: green;
    font-size: large;
}

.img-about{
    width: 400px;
}

.main-cont{
    width: 80%;
    margin: auto;
}
.description-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 0px 70px 0px;
}
.img-about{
    width: 470px;
    height: 366px;
    border-radius: 20px;

}

.reachout-cont,
.vision-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 100px auto;
}

.socmed-cont{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.contact-form-container{

    background-color: $form-bg;
    border-radius: 10px;
    margin: 70px auto;
    padding: 10px;
    width: 80%;  
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    text-align: start;
}

::placeholder{
    color: rgba(87, 85, 86, 0.623);
    font-size: 12px;
}