html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.error-message{
    font-weight: 700;
    color: red;
    height: 40px;
    font-size: 16px;
    background-color: rgb(236, 194, 194);
}
.success-message{
    font-weight: 700;
    color: green;
    font-size: 22;
}

.contact-us{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 70px 0 0;
}
.contact-form-container{

    background-color: $form-bg;
    border-radius: 10px;
    margin: 0px auto;
    padding: 10px;
    width: 50%;  
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    text-align: start;
}

.contact__h3{
    @media(max-width:700px){
        font-size: 14px;
    }
}

::placeholder{
    color: rgba(87, 85, 86, 0.623);
    font-size: 12px;
}

.textfield{
    resize: none;
    border: black 2px solid;
    border-radius: 5px;
}

.about-form-container {
    background-color: #eeeeee;
    margin: 30px 0 0 0;
    padding: 0px 10px;
    width: 100%;
    @media(max-width:700px){
        width: 100%;
        margin: auto;
    }
}

.main-cont {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 70px auto 80px;
    
}

.icons__cont{   
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding-top: 40px;

    &-icon1{
        width: 110px;
    }
    &-icon2{
        width: 100px;
    }
    &-icon3{
        width: 70px;
        height: 70px;
    }
}

.icon__cont-single{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;

    @media(max-width:700px){
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.description__cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &-title{
        padding: 10px; 
    }
    &-text{
        display: block;
        text-align: justify;
        width: 350px;

        @media(max-width:700px) {
                width: 250px;
                font-size: 14px;
            }
    }
}

.vision__cont{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title{
        padding: 10px;
    }
    &-text{
        display: block;
        text-align: justify;
        width: 350px;

        @media(max-width:700px) {
        width: 250px;
        font-size: 14px;
        }
    }
}

.reachout__cont{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
        padding: 10px;
    }
    &-text {
        display: block;
        text-align: justify;
        width: 350px;

        @media(max-width:700px) {
        width: 250px;
        font-size: 14px;
        }
    }
    
    &-both{
    display: flex;
    flex-direction: row; 
    
    }
    &-icon{
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
}

//change later to 700!
/* Extra small devices (phones, 600px and down) */


// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//     .main-cont{
//         background-color: yellow;
//     }
    
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//     ...
// }

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
//     ...
// }



