.calendar__display {
    display: flex;
    flex-direction: row;
    padding: 100px;

    &-info {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 50px;

        & h4 {
            margin-bottom: 1em;
        }
    }

    &-event {
        display: flex;
        flex-direction: row;
    }

    &-text {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
    }

    &-image {
        display: flex;
        flex-direction: column;
        align-items: center;

        & button {
            margin-top: 1em;
        }
    }
}

.react-calendar {
    padding: 20px;
}
