.carousel__event {
    font-family: "Inter";
    padding: 1em;
    width: 270px;
    height: 200px;
    margin: 0 10px;
    background: #0a0a0aab;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-container {
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    &-date {
        // font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
    }

    &-name {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }

    &-button {
        width: 150px;
        height: 43px;
        background: #ffffff;
        border-radius: 30px;
        border: none;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: black;
    }
}

.react-multi-carousel-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: relative;

    & .react-multiple-carousel__arrow--left::before {
        content: url("/assets/left-arrow.png");
        margin-right: 5px;
        margin-top: 9px;
    }
    & .react-multiple-carousel__arrow--right::before {
        content: url("/assets/right-arrow.png");
        margin-right: 5px;
        margin-top: 9px;
    }
}

.react-multi-carousel-track {
    margin: 0 auto;

    & li {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.react-multi-carousel-item {
    text-align: center;
    margin: 0 auto;
}
