.main__hero {
    padding-top: 4.1em;
    &-imageContainer {
        width: 100vw;
        // height: 400px;
        height: 650px;
    }

    &-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.374);
    }

    &-title {
        width: 750px;
        font-weight: bold;
        padding-left: 30px;
        color: white;
        font-size: calc(2em + 2vw);

        @media (min-width: 500px) {
            padding-left: 80px;
            font-size: calc(3em + 2vw);
        }
    }

    &-details {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 2em;
        font-size: calc(0.6em + 1vw);
        @media (min-width: 500px) {
            padding-left: 80px;
            font-size: calc(0.4em + 2vw);
        }
        @media (min-width: 746px) {
            font-size: 21px;
        }
    }

    &-detail {
        color: white;
        // font-size: calc(0.6em + 1vw);
        display: block;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .fa-solid {
            font-size: 1.2em;
            margin-right: 10px;
            min-width: 15px;
            @media (min-width: 500px) {
                margin-right: 25px;
            }
        }
    }
}
