// styling for wrap view:
//
// .contacts {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;

//     &__card {
//         width: 300px;
//         margin: 20px 0;
//     }
//     &:nth-child(odd) {
//         background-color: #eeeeee;
//     }
// }

// CONTACTS LIST HEADER STYLING]

.buttons {
    a {
        text-decoration: none;
        height: 50px;

        /* Button Text Style */

        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 35px;
        /* or 219% */

        display: flex;
        align-items: center;

        color: #ffffff;
    }

    & ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & li {
            margin: 0 50px;
        }
    }
}

.contacts__item {
    list-style-type: none;
    padding: 0 10px;
    width: 250px;
    height: 50px;
    margin-bottom: 20px;

    background: #809aff;
    border-radius: 5px;
}

// CONTACTS TABLE STYLING

.contacts__list {
    padding: 20px 0;
    margin: 0 auto;
}

.contacts__columns {
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;

    & td {
        padding: 0 20px;
    }

    &-phone {
        text-align: center;
    }

    &-name {
        width: 25%;
    }

    &-email {
        width: 25%;
    }
    &-phone {
        width: 25%;
    }
}

.contact__row {
    height: 30px;
    width: 100vw;
    padding: 40px 0;

    & td {
        padding: 0 20px;
    }
    &:nth-child(odd) {
        background-color: #eeeeee;
    }
}

.create__contact {
    font-family: Inter;
    background-color: $form-bg;
    padding: 50px;

    &-inputs {
        display: flex;
        flex-wrap: wrap;
    }

    &-input {
        flex: 0 30%;
        margin: 0 10px;
        height: 52px;
        border: none;
        background: #ffffff;
        border-radius: 5px;
        display: block;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    &-radioBtn {
        display: flex;
        flex-direction: row;
    }

    &-radio {
        margin-left: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;

        & label {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: row;
    }

    &-save {
        font-family: Inter;
        text-decoration: none;

        width: 100px;
        height: 50px;
        background-color: $header-bg1;
        border-radius: 5px;
        border: none;
        padding: 0 10px;

        /* Button Text Style */

        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 35px;
        /* or 219% */

        display: flex;
        align-items: center;

        color: #ffffff;
    }

    &-cancel {
        font-family: Inter;
        text-decoration: none;

        width: 100px;
        height: 50px;
        background-color: $header-bg1;
        border-radius: 5px;
        border: none;
        padding: 0 10px;
        margin-left: 50px;

        /* Button Text Style */

        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 35px;
        /* or 219% */

        display: flex;
        align-items: center;

        color: #ffffff;
    }
}

.alert-success {
    background-color: green;
}

.error__message {
    background-color: red;
}
