// styling for wrap view:
//
// .contacts {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;

//     &__card {
//         width: 300px;
//         margin: 20px 0;
//     }
//     &:nth-child(odd) {
//         background-color: #eeeeee;
//     }
// }

// CONTACTS LIST HEADER STYLING]

button {
    cursor: pointer;
}

.buttons {
    a {
        text-decoration: none;
        height: 50px;

        /* Button Text Style */

        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 35px;
        /* or 219% */

        display: flex;
        justify-content: center;
        align-items: center;

        color: #ffffff;
        cursor: pointer;
    }

    & ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 100px;

        & button {
            margin: 0 50px;
        }
    }
}

.contacts__item {
    list-style-type: none;
    padding: 0 10px;
    width: 250px;
    height: 50px;
    margin-bottom: 20px;

    background: #809aff;
    border-radius: 5px;
}

// CONTACTS TABLE STYLING

.contacts__list {
    padding: 100px 0;
    margin: 0 auto;
}

.contacts__columns {
    font-weight: 800;
    text-transform: uppercase;
    background-color: #eeeeee;

    & td {
        height: 75px;
    }

    & td {
        padding: 0 20px;
    }

    &-phone {
        text-align: center;
    }

    &-name {
        width: 25%;
    }

    &-email {
        width: 25%;
    }
    &-phone {
        width: 25%;
    }
}

.contact__row {
    height: 50px;
    width: 100vw;
    padding: 40px 0;

    & td {
        padding: 0 20px;
    }
    &:nth-child(odd) {
        background-color: #eeeeee;
    }
}

.create__contact,
.edit__contact,
.add__image {
    font-family: Inter;
    background-color: $form-bg;
    padding: 100px;

    &-inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &-input {
        flex: 0 30%;
        height: 50px;
        border: none;
        background: #ffffff;
        border-radius: 5px;
        display: block;
    }

    &-radioBtn {
        display: flex;
        flex-direction: row;
    }

    &-radio {
        margin-left: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;

        & label {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: row;
    }

    &-save {
        font-family: Inter;
        text-decoration: none;

        width: 100px;
        height: 50px;
        background-color: $header-bg1;
        border-radius: 5px;
        border: none;
        padding: 0 10px;

        /* Button Text Style */

        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 35px;
        /* or 219% */

        display: flex;
        align-items: center;

        color: #ffffff;
    }

    &-cancel {
        font-family: Inter;
        text-decoration: none;

        width: 100px;
        height: 50px;
        background-color: $header-bg1;
        border-radius: 5px;
        border: none;
        padding: 0 10px;
        margin-left: 50px;

        /* Button Text Style */

        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 35px;
        /* or 219% */

        display: flex;
        align-items: center;

        color: #ffffff;
    }

    &-add {
        font-family: Inter;
        text-decoration: none;

        width: 200px;
        height: 50px;
        background-color: $header-bg1;
        border-radius: 5px;
        border: none;
        padding: 0 10px;

        /* Button Text Style */

        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 35px;
        /* or 219% */

        display: flex;
        align-items: center;

        color: #ffffff;
    }
}

.alert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-btn {
    padding: 10px 50px;

    & .button__text {
        font-weight: 500;
    }
}

.modal_btn {
    padding: 10px 50px;
}

.alert-success {
    color: green;
    padding: 50px 10px 0 10px;
}

.error__message {
    background-color: red;
}

.button-fa {
    height: 40px;
    width: 50px;
    // background-color: $button-dark;
    color: $navbar-text;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.fa-edit {
    border: 1px solid #809aff;
    color: #142566;
    background-color: #ccd6ff;
}

.fa-trash {
    border: 1px solid #bbbbbb;
    color: #333333;
    background-color: #eeeeee;
}

.checkmark {
    display: inline-block;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: green;
    border-radius: 11px;
    left: 0;
    top: 0;
}

.checkmark_stem {
    position: absolute;
    width: 3px;
    height: 9px;
    background-color: #fff;
    left: 11px;
    top: 6px;
}

.checkmark_kick {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #fff;
    left: 8px;
    top: 12px;
}
