// EVENT LIST STYLING

.events {
    a {
        text-decoration: none;
    }

    font-family: "Inter";
    &__main {
        width: 90%;
        margin: 0 auto 5em auto;
        box-sizing: border-box;

        display: flex;
        flex-wrap: wrap;
        gap: 3em;
    }

    &__intro {
        padding: 100px 0;
        width: 80%;
        margin: auto;
        text-align: center;
    }

    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        list-style-type: none;
        padding: 0 20px;
        width: 290px;
        min-height: 50px;
        // height: 50px;
        height: fit-content;
        margin-bottom: 30px;

        background: #809aff;
        border-radius: 5px;

        &--grey {
            background-color: #8099ffc0;

            .events__link {
                color: white;
            }
        }
    }

    &__link {
        text-decoration: none;

        width: 100%;
        min-height: inherit;

        /* Button Text Style */

        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 35px;
        /* or 219% */

        display: flex;
        align-items: center;

        color: #ffffff;
    }

    &__title {
        color: black;
        font-family: "Inter";
    }

    h1 {
        color: black;
    }

    // FORM STYLING

    &__container {
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 2.2em;
    }

    &__form {
        height: fit-content;
        padding: 2em 2.5em;

        background-color: #efefef;
        border-radius: 10px;

        .form__buttons {
            display: flex;
            justify-content: space-between;
            margin: 0;
            column-gap: 2em;
            margin-bottom: 3em;
        }

        &--transparent {
            background-color: white;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2em;
        }
    }

    &__fieldset {
        border: none;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &--disabled {
            .events__input {
                background-color: rgb(226, 223, 223);
                border: 0.5px solid grey;
            }

            .events__textarea {
                background-color: rgb(226, 223, 223);
                border: 0.5px solid grey;
            }
        }
    }

    &__message {
        font-weight: normal;
        font-style: italic;
        font-size: 0.9em;
        color: rgb(182, 7, 7);
        height: 30px;
    }

    &__success {
        font-weight: normal;
        font-style: italic;
        font-size: 0.9em;
        color: green;
        height: 30px;
    }

    &__input {
        width: 100%;
        padding: 1em;
        height: 52px;
        border: none;
        background: #ffffff;
        border-radius: 5px;
        display: block;
        margin: 8px 0;
        // margin-bottom: 30px;
        font-family: inherit;
        border: 1px solid rgba(204, 204, 204, 0.555);

        &--radio {
            margin-top: 25px;
            // margin-bottom: 20px;
        }

        &--space {
            margin-right: 5px;
        }

        // &--half {
        //     width: 50%;
        // }
    }

    &__radio {
        width: 47%;
        height: 91px;
    }

    &__textarea {
        width: 100%;
        font-family: inherit;
        height: 150px;
        background: #ffffff;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        resize: none;
        margin-top: 5px;
        // margin-bottom: 30px;
        padding: 1.25em;
        line-height: 1.75em;
    }

    &__label {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        // line-height: 75px;
        /* or 469% */

        display: block;
        // align-items: center;
        // margin-bottom: 10px;
        width: fit-content;

        &--half {
            width: 45%;
        }

        &--full {
            width: 100%;
        }

        &--radio {
            display: inline;
            font-weight: normal;
        }

        &--thin {
            font-weight: normal;
            margin-top: 1em;
        }
    }

    &__lang {
        width: 47%;
        gap: 1em;
        margin: 0;
    }

    &__common {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        column-gap: 2em;
        // align-items: center;

        &--nowrap {
            flex-wrap: nowrap;
        }
    }

    &__buttons {
        display: flex;
        // margin-bottom: 2.2em;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 2em;
        height: 44px;
        // width: 2em;
    }
}

// ADMIN BAR STYLING
.admin {
    &__bar {
        width: 100%;
        height: 250px;

        background: #142566;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 75px;
        width: 80%;
        margin: auto;

        /* or 107% */

        color: #ffffff;
    }
}

.button {
    background-color: #142566;
    font-family: "Inter";
    color: white;
    font-size: 1em;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    min-width: 100px;
    cursor: pointer;

    &--border {
        background-color: white;
        border: 2px solid $lesbotoc;
        color: $lesbotoc;

        .fa-check-square-o,
        .fa-calendar-check-o,
        .fa-calendar-times-o,
        .fa-star-o,
        .fa-sign-in,
        .fa-trash.fa {
            color: $lesbotoc;
            background-color: none;
        }
    }

    display: flex;
    align-items: center;

    &--turquoise {
        background-color: $lesbotoc;
    }

    i {
        color: white;
        font-size: 1.5em;
        margin-right: 10px;
    }

    &__link {
        text-decoration: none;
        &:first-child {
            margin-right: auto;
        }
    }
}
