@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap");

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.button-a {    
    text-align: center;
    text-decoration: none;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.form-container {
    background-color: $form-bg;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    width: 60%;    
}

.form-item {
    align-items: center;
    background-color: $form-bg;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}

.index-container {
    background-color: $body-bg;
}

.input-button {
    background-color: green;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-table;
    font-size: 16px;
    height: 50px;
    margin: 4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 400px;    
}

.input-item {
    width: 100%;
}

.input-item[type=text],
select {
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%; 
}

.list-btn {
    background-color: $header-bg1;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline-table;
    font-size: 16px;
    height: 50px;
    margin: 4px;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    width: 400px;   
}

.list-container {
    padding-bottom: 20px;
}

.list-item {
    list-style: none;
}

.locations-container {
    font-family: $primary-font;
    margin: auto;
    text-align: center;
    width: 80%;
}

.location-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.red{
    background: red;
}

.u-list{
    padding: 0;
}


.h3-item{
    color: $h2-dark;
}



